
/* Your CSS Code here. */
body{
	font-family: Arial, sans-serif;
            margin: 40px;
            background-color: #f4f4f4;
}
 img {
            width: 300px;
            border-radius: 500%;
        }
  section {
            margin-top: 20px;
            padding: 15px;
            background-color: white;
            border-radius: 8px;
        }
